@model ZavrsniRad.Models.SastojakViewModel

<div class="editorRow" id="sastojci">
    @using (Html.BeginCollectionItem("ListaSastojaka"))
    {       
        @Html.ValidationSummary(true, "Greška sastojci")

        <div class="form-inline">

            <div class="editor-field">
                @Html.LabelFor(model => model.SastojakID, new { @class = "sr-only" })

                @Html.DropDownListFor(model => model.SastojakID, new SelectList(Model.listaJela, "JeloID", "NazivJela"), new { @class = "form-control", @placeholder = "Sastojak" })

                @Html.ValidationMessageFor(model => model.SastojakID)
            </div>

            <div class="editor-field">
                @Html.LabelFor(model => model.Kolicina, new { @class = "sr-only" })

                @Html.TextBoxFor(model => model.Kolicina, new { @class = "form-control", @placeholder = "Kolicina" })

                @Html.ValidationMessageFor(model => model.Kolicina)
            </div>

            <div class="editor-field">
                @Html.LabelFor(model => model.JedinicaMjereID, new { @class = "sr-only" })

                @Html.DropDownListFor(model => model.JedinicaMjereID, new SelectList(Model.listaJedinica, "JedinicaMjereID", "Kratica"), new { @class = "form-control", @placeholder = "Jedinica" })

                @Html.ValidationMessageFor(model => model.JedinicaMjereID)
            </div>

            <a href="#" class="deleteRow close">&times;</a>

        </div>
    }
</div>