@model ZavrsniRad.Models.LogIn

@{
    ViewBag.Title = "Prijava";
}

<div class="row">
    <br />
</div>

<div class="pull-right">
    Registrirajte se ako nemate račun. <a class="btn nice-green-color btn-sm" href='@Url.Action("Register", "User")'>
        <span class="glyphicon glyphicon-pencil"></span>&nbsp Registracija
    </a>
</div>


@using (Html.BeginForm())
{
    <div class="col-md-4 col-md-offset-4">
        @Html.ValidationSummary(true, "Prijava nije uspjela. Provjerite email i lozinku.", new { @class = "field-validation-error" })
        <fieldset>
            <legend>Prijava</legend>

            <div class="form-group">

                @Html.LabelFor(model => model.Email, new { @class = "control-label" })

                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.Email)

            </div>

            <div class="form-group">

                @Html.LabelFor(model => model.Lozinka, new { @class = "control-label" })

                @Html.PasswordFor(model => model.Lozinka, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.Lozinka)

            </div>


            <button type="submit" class="btn btn-default nice-green-color">Prijava</button>

            <div>
                <br />
            </div>

        </fieldset>
    </div>
    
    
}

